/* Style headings so that the FAQ page looks good. */
h3, h4 {
  margin: 0.6em 0em 0.4em;
}

h3 {
  text-align: center;
}

/* Emergency tweak for the main menu */
#superfish .menu a {
  padding-right: 28px;
  padding-left: 28px;
}

/* Photo album. */
.view-id-photo_album .view-content,
.view-id-photo_album .view-photo-album,
.view-id-photo_album .attachment {
  display: inline-block;
}

/* Do not display "add comment" and other links in teasers.
.node-teaser .links {
  display: none;
}
*/
/* Float photos to the right in Articles (teaser and full views). */
.node-book-talk .field-type-image,
.node-article .field-type-image {
  float: right;
  margin-left: 1ex;
  overflow: hidden;
  max-width: 100%;
}

/* Place a black border around obituary articles. */
.node-article.section-obituary {
  border: 5px solid black;
  padding: 1em;
}

/* Style the dynamic menu block the same as the main menu. */
#sidebar-right .block-menu-block h2.block-title {
  background: url("/sites/3mile.org/themes/danland/images/menu-bg.gif") repeat-x scroll 0 0 transparent;
  height: 35px;
  margin: 0 auto;
  padding-bottom: 0px;
}

#sidebar-right .block-menu-block h2.block-title a,
#sidebar-right .block-menu-block h2.block-title a:visited {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 30px 11px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Quick fix:  why are error messages being displayed to anonymous users in the
 * first place? */
body.not-logged-in div.messages.error {
  display: none;
}

/* Style the list of committee minutes. */
#block-views-committee-minutes-block h3 {
  margin-top: 2ex;
}

#block-views-committee-minutes-block .views-row {
  display: inline;
  margin-left: 3em;
}

/* Style the Committee roster page. */
table.cols-2 td,
table.cols-2 th {
  width: 50%;
  padding: 1em;
}

/* Style the photo gallery. */
#content .view-photo-gallery .view-grouping-header {
  text-align: center;
  margin: 1em 0em 1em 0em;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}

#content .view-photo-gallery .photo-gallery-item {
  display: inline-block;
  margin: 1ex 2px 0 0;
  vertical-align: bottom;
  position: relative;
  /* Compensate for the padding and border of the enclosed image. */
  /* Hide everything but the photo, except on hover. */
}
#content .view-photo-gallery .photo-gallery-item .photo.bordered {
  margin-right: 6px;
}
#content .view-photo-gallery .photo-gallery-item .details {
  display: none;
}
#content .view-photo-gallery .photo-gallery-item:hover .details {
  text-align: center;
  display: block;
  position: absolute;
  /* Allow for the padding and border. */
  bottom: 7px;
  left: 3px;
  right: 3px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#content .view-photo-gallery .photo-gallery-item:hover .details a, #content .view-photo-gallery .photo-gallery-item:hover .details a:visited, #content .view-photo-gallery .photo-gallery-item:hover .details a:link {
  color: white;
}

/* Make the site slogan the same color as the AMC logo. */
.site-slogan {
  color: #0b5e4b;
}
