/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}

.region-sidebar-first {
  background-color: #d7e0c9;

  .block { /* Block wrapper */
    h2.block-title { /* Block title */
      font-size: 1.1667em;
      margin: 0;
      padding: 27px 20px 10px 20px;
}

ul.menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #d1c39d;
  font-weight: bold;

  li {
    padding: 7px 0 7px 20px;
    list-style: none;
    border-top: 1px dashed #d1c39d;

    a {
      text-decoration: none;
    }

  }
}

li ul.menu, li ul.menu li {
  border: none;
}

&.odd {

  h2.block-title {
    color: #ad5814;
  }

  ul.menu{
    background-color: #e8ede0;

    li a {
      color: #465f27;
    }
  }
}

&.even { /* Zebra striping for each block in the region */
  background-color: #59976b;
  margin: 30px 5px;

  h2.block-title { /* Block title */
    padding: 7px 0 7px 20px;
    color: #ffffff;
  }

  ul.menu {
    border-bottom-color: #ffffff;
    li {
      border-top-color: #ffffff;
       a {
	color: #ffffff;
      }
    }
  }

}

}
}

.region-sidebar-second .block { /* Block wrapper */

  border: 1px solid #c2bfb2;
  background: #e5e0d1 url('../images/hdrBlank.jpg') top left repeat-x;
  padding: 12px 8px; 
  color: #3c2f28;
  margin: 0; 

  &.even { /* Zebra striping for each block in the region */
    color: #675136;
  }

  p:first-child {
    margin-top: 0px;
  }

  ul {
    padding-left: 16px;
    margin-bottom: 0px;
  }

  h2.block-title { /* Block title */
    padding-bottom: 1em;
    text-align: center;
    color: #cb341e;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: normal;
    font-family: Caudex, $georgia;
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
