/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
    font-size: smaller;
    color: #836e53;

    time {
      font-style: italic;
    }
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
  margin: 0 2em 2em;
  padding: 16px 14px;
  background-color: $amc-callout-background-color;
  border: 1px solid #b4b1a5;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

/** --Trip listing nodes-- **/
.node-trip-listing {
  .field-name-field-trip-id {color: #999; }
  .field-group-accordion .field-label,
  .field-group-accordion .field-items {
    display: inline-block;
    vertical-align: text-top;
  }
}
