/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

/** --Home page view-- **/
/* @todo Make these styles a SASS mixin. */
.view-trip-lists.view-display-id-home .trip-row {
  margin: 0 1em 0.5em;
  padding: 1em 1ex;
  background-color: #e5e0d1;
  border: 1px solid #b4b1a5;
}

/** --Trip search form (BEF)-- **/

/* Scrollable lists of check boxes or radio buttons using BEF:  see
 * http://drupal.org/node/766974
 */
.bef-checkboxes,
.bef-select-as-radios .form-radios {
  /*
   * Setting the height and overflow creates a scrollable <div> for the
   * radio/checkbox elements.
   * The border is just for looks -- adjust or remove as needed.
   */
  height: 10em;
  width: 195px;
  overflow: auto;
  border: 1px solid #999;
}

/* Float the Select All/Select None link above the box and to the right. */
.bef-toggle {
  height: 0px;
  position: relative;
  top: -3ex;
  float: right;
}

/* For the Comment Admin page */
.page-moderate-trip-comment .bef-checkboxes,
.page-moderate-trip-comment .bef-select-as-radios,
.page-moderate-trip-comment .bef-select-as-radios .form-radios {
  /*
   * Setting the height and overflow creates a scrollable <div> for the
   * radio/checkbox elements.
   * The border is just for looks -- adjust or remove as needed.
   */
  height: auto;
  width: 17em;
  margin-right: 1em;
}

/* Line up multi-line options nicely */
.bef-group-items .form-item,
.bef-select-as-radios .form-radios .form-item {
  text-indent: -24px;
  margin-left: 24px;
}

/* Pack the options more tightly. */
.bef-select-as-checkboxes .bef-checkboxes .form-item {
  margin: 0;
}

/* Move the submit button to the right. */
#edit-submit-trip-lists {
  margin-left: 75%;
}
