/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

body.one-sidebar #page {
  max-width: 980px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#header,
#content,
#banner,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Make #header relative so that #navigation can be positioned inside it.
 */
#header {
  position: relative;
}

/* Introduce white space around the right sidebar and blocks in the main
 * content area.
 */
#secondary {
  background-color: #ffffff;
}

#content {
  padding: 0 2em;
}

.region-sidebar-second {
  padding-right: 2.5em;
  padding-left: 2.5em;
}

/*
 * The site name should appear on top of the banner photo. For medium and wide
 * screens, the #banner will float left and #name-and-slogan will be positioned
 * relative to it. For narrow screen sizes, declare #banner to be relative.
 * Adjust the font size so that the site name fits reasonably well.
 */
/* Default, for narrow screens. */
#name-and-slogan {
  /* position: absolute; */
  /* bottom: 2em; */
  /* right: 2em; */
  text-align: center;
  font-size: 1.2em;
}

#banner {
  position: relative;
}

/* Wide screens. */
@media all and (min-width: 960px) {
  #name-and-slogan {
    font-size: 2em;
  }
}
@media all and (min-width: 480px) {
  .region-sidebar-second {
    padding-left: 0em;
  }

  #main {
    /* padding-top: 3em; Move all the children of #main down to make room. */
    position: relative;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 6 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  .sidebar-first #secondary {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-first #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .sidebar-second #content {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  .two-sidebars #secondary {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  .two-sidebars #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .two-sidebars #content {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 6 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(2n+1) {
    /* Span 3 columns, starting in the 1st column from left. */
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    clear: right;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(2n) {
    /* Span 3 columns, starting in the 2nd column from left. */
    float: right;
    width: 50%;
    margin-right: 50%;
    margin-left: -100%;
  }
}
@media all and (min-width: 960px) {
  #navigation {
    width: 66%;
    max-width: 800px;
    min-width: 560px;
  }

  /*
   * Use 9 grid columns for larger screens.
   * Why use the same column count for all three layouts?
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 1st column from left. */
  }
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 22.22222%;
    margin-right: 0%;
    margin-left: -22.22222%;
  }
  .sidebar-first #secondary {
    float: right;
    width: 77.77778%;
    margin-right: 22.22222%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-first #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .sidebar-first #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .sidebar-second #content {
    clear: right;
    float: right;
    width: 77.77778%;
    margin-right: 0%;
    margin-left: -77.77778%;
  }
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 22.22222%;
    margin-right: 77.77778%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 22.22222%;
    margin-right: 0%;
    margin-left: -22.22222%;
  }
  .two-sidebars #secondary {
    float: right;
    width: 77.77778%;
    margin-right: 22.22222%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  .two-sidebars #banner {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  .two-sidebars #content {
    clear: right;
    float: right;
    width: 77.77778%;
    margin-right: 0%;
    margin-left: -77.77778%;
  }
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 22.22222%;
    margin-right: 77.77778%;
    margin-left: -100%;
  }
}
